@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  @apply h-full;
}

body {
  @apply bg-gray-100;
  @apply min-h-full;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container {
  @apply container;
  @apply mx-auto;
  @apply px-5;
  @apply py-24;
}

.main-grid {
  @apply md:grid;
  @apply md:grid-cols-3;
  @apply md:gap-6;
  @apply justify-center;
}

.main-header {
  @apply text-3xl;
  @apply mb-5;
  @apply font-medium;
  @apply text-slate-600;
}

.main-section-header {
  @apply text-lg;
  @apply font-medium;
  @apply leading-6;
  @apply text-gray-900;
}

.main-section-description {
  @apply mt-1;
  @apply text-gray-600;
}

.main-card {
  @apply card;
  @apply bg-base-100;
  @apply shadow-md;
  @apply rounded-lg;
  @apply border;
}

.main-card-side {
  @apply main-card;
  @apply card-side;
}

.main-hover-card {
  @apply main-card;
}

.main-hover-card:hover {
  @apply hover:shadow-lg;
  @apply hover:bg-gray-100;
  @apply cursor-pointer;
}

.main-loading-indicator {
  @apply bg-gray-200;
  @apply animate-pulse;
}

.main-label {
  @apply block;
  @apply font-medium;
  @apply text-gray-700;
}

.main-input {
  @apply w-full;
  @apply h-12;
  @apply px-4;
  @apply mb-2;
  @apply text-lg;
  @apply text-gray-700;
  @apply placeholder-gray-600;
  @apply border;
  @apply shadow-sm;
  @apply rounded-lg;
}

.main-textarea {
  @apply w-full;
  @apply h-32;
  @apply px-3;
  @apply py-2;
  @apply text-lg;
  @apply text-gray-700;
  @apply placeholder-gray-600;
  @apply border;
  @apply rounded-lg;
  @apply shadow-sm;
}

.main-input-side {
  @apply main-input;
  @apply w-10/12;
  @apply bg-gray-100;
  @apply rounded-none;
  @apply rounded-l-lg;
}

.main-input-side-button {
  @apply cursor-pointer;
  @apply px-4;
  @apply w-2/12;
  @apply h-12;
  @apply border;
  @apply border-l-0;
  @apply text-lg;
  @apply text-white;
  @apply rounded-r-lg;
  @apply bg-gray-600;
  @apply hover:bg-gray-700;
  @apply focus:outline-none;
}

.main-input-side-button:focus {
  @apply outline-none;
}

.main-submit {
  @apply btn;
  @apply btn-primary;
  @apply inline-flex;
  @apply items-center;
  @apply py-2;
  @apply px-4;
  @apply border;
  @apply border-transparent;
  @apply shadow-sm;
  @apply font-medium;
  @apply leading-6;
  @apply rounded-md;
  @apply text-white;
}

.main-submit-loading {
  @apply main-submit;
  @apply opacity-50;
  @apply cursor-not-allowed;
  @apply loading;
}

.main-input-description {
  @apply mb-2;
  @apply text-sm;
  @apply text-gray-500;
  @apply dark:text-gray-400;
}
